.img_nos-actions {
	width: 250px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

/* Pour reprendre le flux */
.img_nos-actions::after {
	clear: both;
}

main {
	min-height: calc(100vh - 480px);
}

.card > img {
	height: 250px;
	object-fit: cover;
}

textarea {
	height: auto !important;
}

/* Thoses rules are used to align hr on cards */
.card-body {
	display: flex;
	flex-direction: column;
}

.card-text {
	flex-grow: 1;
}